<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to Refinery::Core.site_name, refinery.root_path, :class => 'brand' %>

          <div class="nav pull-right">
            <ul class="nav">
              <% roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots -%>
              <%= render :partial => '/refinery/menu_branch', :collection => roots,
               :locals => {
                 :hide_children => true,
                 :sibling_count => (roots.length - 1),
                 :menu_levels => local_assigns[:menu_levels],
                 :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
               } -%>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div class="container">
      <!--
         -<header id="header">
         -  <%= render '/refinery/header' -%>
         -</header>
         -->

      <div class="content">
        <div class="row">
           <div class="span16">
              <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->

    </div> <!-- /container -->

    <footer>
      <div class='container'>
        <%= render '/refinery/footer' -%>
      </div>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= render '/refinery/javascripts' %>

  </body>
</html>
